<div class="todo" *ngIf="telaCorreta; else paginaErro"  >
    <div class="row">
      <div class="col-sm-12">

        <h2 class="text-center" style="margin-bottom: 60px;" >{{ noticiaIndividual[0].titulo }}</h2>

        <div class="card bg-dark text-white" style="" >
          <img class="card-img" [src]="noticiaIndividual[0].img !== null? noticiaIndividual[0].img : 'assets/noticias/arquiteto01.jpg' " alt="Card image">
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
          </div>
        </div>

        <div class="inserir_conteudo" style="margin-top: 70px; margin-bottom:70px;" [innerHtml]="noticiaIndividual[0].texto" >

        </div>

      </div>
    </div>
</div>

<ng-template #paginaErro>
    <div class="row">
      <div class="col-sm-12">
        <h2 class="text-center" style="margin-bottom: 600px;" >Erro, Notícia não encontrada </h2>
      </div>
    </div>
</ng-template>
