<div class="row">
  <div class="col-sm-12">

    <h2 class="text-center" style="margin-bottom: 60px;" >Teste de Titulo para Teste...</h2>

    <div class="card bg-dark text-white" style="" >
      <img class="card-img" src="assets/noticias/arquiteto01.jpg" alt="Card image">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>

    <div class="inserir_conteudo" style="margin-top: 70px; margin-bottom:70px;" >
        <p class="text-justify" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique enim porttitor, molestie orci quis, venenatis tortor. Integer tortor lectus, posuere eget ornare tristique, egestas ac eros. Ut aliquam efficitur risus sit amet sollicitudin. Proin iaculis egestas mauris sed ullamcorper. Phasellus imperdiet, sem eu blandit sollicitudin, risus neque luctus nisl, a sodales ligula massa tincidunt dolor. Pellentesque posuere tincidunt facilisis. Nullam scelerisque id libero ultricies suscipit. Quisque sed vestibulum neque, a ultrices arcu. Donec id hendrerit nibh. Ut blandit euismod mauris, sit amet molestie ex consequat tempus. Etiam quis turpis vel magna laoreet molestie. Donec diam metus, sollicitudin non urna in, tempor rutrum nulla. Quisque gravida velit at tellus pellentesque, sed sagittis sapien sagittis. Morbi faucibus condimentum lacinia. Integer vitae libero ullamcorper ipsum tempus placerat quis sit amet velit.</p>

        <p class="text-justify" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tristique enim porttitor, molestie orci quis, venenatis tortor. Integer tortor lectus, posuere eget ornare tristique, egestas ac eros. Ut aliquam efficitur risus sit amet sollicitudin. Proin iaculis egestas mauris sed ullamcorper. Phasellus imperdiet, sem eu blandit sollicitudin, risus neque luctus nisl, a sodales ligula massa tincidunt dolor. Pellentesque posuere tincidunt facilisis. Nullam scelerisque id libero ultricies suscipit. Quisque sed vestibulum neque, a ultrices arcu. Donec id hendrerit nibh. Ut blandit euismod mauris, sit amet molestie ex consequat tempus. Etiam quis turpis vel magna laoreet molestie. Donec diam metus, sollicitudin non urna in, tempor rutrum nulla. Quisque gravida velit at tellus pellentesque, sed sagittis sapien sagittis. Morbi faucibus condimentum lacinia. Integer vitae libero ullamcorper ipsum tempus placerat quis sit amet velit.</p>
    </div>

  </div>
</div>