<div class="row" >


  <div class="col-2" id="menu_lateral"  [@menuLateral]="estadoImagem" >

    <div class="identificacao_lateral" >
      <div class="row" >


        <div class="col-4" >
          <img src="/assets/perfil_imagem/dell_person.jpg" height="80px" width="80px" style="margin-top: 15px;" alt="imagem_perfil" class="rounded-circle"/>
        </div>
        <div class="col-8" class="identificacao_lateral_nome" >
          <h3>Raphael Dell</h3>
          <p> <span class="badge badge-success"> </span> &nbsp; &nbsp;online</p>
        </div>


      </div>
      <hr/>

      <div class="row" >
        <div class="col" >
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="cursor: pointer;" >Calendario</li>
            <li class="list-group-item" style="cursor: pointer;">Lista de Orçamento</li>
            <li class="list-group-item" style="cursor: pointer;">Adicionar Orçamento</li>
            <li class="list-group-item" style="cursor: pointer;">Adicionar Contato</li>
            <li class="list-group-item" style="cursor: pointer;">Adicionar Novas Tarefas</li>
          </ul>
        </div>
      </div>


    </div>
  </div>


  <div class="col-10" id="menu_central" >
    <div class="row" >
      <div class="col" id="row_titulo" >
          <div class="titulo_menu" ><h3>Painel</h3></div>
      </div>
    </div>


    <div class="row" >


      <div class="col-sm" >
        <div class="menus_cada " style="cursor: pointer;" [@menuPrincipal]="estadoImagem" >
          <div class="row" >
            <div class="col-sm" ></div>
            <div class="col-sm" ><img src="/assets/icones_sistema/calendario.png" alt="calendario" class="icone_menu" /></div>
          </div>
          <div class="row" style="margin-left: 0px; margin-right: 0px;"  >
            <div class="col" id="menu_rodape" ><p class="text-center" style="padding-top: 10px;" >Clique para visualizar</p></div>
          </div>
        </div>
      </div>


      <div class="col-sm"  >
        <div class="menus_cada" style="background-color: #e6e600; cursor: pointer;" [@menuPrincipal]="estadoImagem"  >
            <div class="row" >
              <div class="col-sm" ></div>
              <div class="col-sm" ><img src="/assets/icones_sistema/lista.png" alt="calendario" class="icone_menu" /></div>
            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;"  >
              <div class="col" id="menu_rodape" style="background-color: #b3b300;" ><p class="text-center" style="padding-top: 10px;" >Clique para visualizar</p></div>
            </div>
          </div>
      </div>


      <div class="col-sm" >
        <div class="menus_cada" style="background-color: #e60000; cursor: pointer;" [@menuPrincipal]="estadoImagem" >
            <div class="row" >
              <div class="col-sm" ></div>
              <div class="col-sm" ><img src="/assets/icones_sistema/cadastrar_lista.png" alt="calendario" class="icone_menu" /></div>
            </div>
            <div class="row" style="margin-left: 0px; margin-right: 0px;"  >
              <div class="col" id="menu_rodape" style="background-color: #990000;" ><p class="text-center" style="padding-top: 10px;" >Clique para visualizar</p></div>
            </div>
          </div>
      </div>


    </div>

  </div>

</div>
