<div class="row">
  <div class="col-6">

    <div class="card" style="width: 100%; height: 400px;">
      <div class="card-body" style="background-image: url('/assets/noticias/escritorio01.jpg'); background-size: cover;" >
        <div class="texto-cima">
          <h6 class="card-subtitle mb-2 ">Card subtitle</h6>
          <div class="border-titulo" ></div>
        </div>

        <p class="card-text texto-card">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

      </div>
    </div>

  </div>
  <div class="col-6">


    <div class="card" style="width: 100%; height: 245px;" >
      <div class="card-body" style="background-image: url('/assets/noticias/escritorio02.jpg'); background-size: cover;" >
        <div class="texto-cima">
          <h6 class="card-subtitle mb-2 ">Card subtitle2</h6>
          <div class="border-titulo" ></div>
        </div>

        <p class="card-text texto-card2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

      </div>
    </div>

    <div class="card" style="width: 100%; height: 245px;" >
      <div class="card-body" style="background-image: url('/assets/noticias/escritorio03.jpg'); background-size: cover;" >
        <div class="texto-cima">
          <h6 class="card-subtitle mb-2 ">Card subtitle3</h6>
          <div class="border-titulo" ></div>
        </div>

        <p class="card-text texto-card2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

      </div>
    </div>

  </div>
</div>
<br/><br/>
<div class="row" >
  <div class="col-10" >
      <ul class="list-unstyled">
        <li class="media">
          <img class="mr-3 imagem_resto" src="/assets/noticias/engenheiro01.jpg" alt="image1">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <p class="texto_descri" > Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
        <hr/>
        <li class="media my-4">
          <img class="mr-3 imagem_resto" src="/assets/noticias/arquiteto01.jpg" alt="imagem2">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <p class="texto_descri" >Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
        <hr/>
        <li class="media">
          <img class="mr-3 imagem_resto" src="/assets/noticias/ti01.jpg" alt="ti01">
          <div class="media-body">
            <h5 class="mt-0 mb-1">List-based media object</h5>
            <p class="texto_descri" > Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
          </div>
        </li>
        <hr/>
      </ul>
  </div>
</div>



