<div class="row">
  <div class="col-6">

    <div class="card" style="width: 100%; height: 400px;">
      <div class="card-body" style="background-image: url('/assets/noticias/escritorio01.jpg'); background-size: cover;" >
        <div class="texto-cima">
          <h6 class="card-subtitle mb-2 ">Card subtitle</h6>
          <div class="border-titulo" ></div>
        </div>



        <p class="card-text texto-card">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

      </div>
    </div>

  </div>
  <div class="col-6"></div>
</div>
