<nav class="navbar navbar-expand-lg navbar-light bg-color-aqcez">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="navbar-brand" href="#">
    <img [src]="logoAqcez" width="200" height="45" class="d-inline-block align-top" alt="logo" />

  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="!usuarioLogado; else menuPainel">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="">Home</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/noticiageral">Noticias</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/sistema" >Entrar</a>
      </div>

    </form>
  </div>

  <ng-template #menuPainel>
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="">Home</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/painel" >Painel</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="">Agenda</a>
        <a class="nav-item nav-link" routerLinkActive="active" routerLink="/noticiageral">Noticias</a>
        <a class="nav-item nav-link" routerLinkActive="active" style="cursor: pointer;" (click)="sair()" >Sair</a>

      </div>

    </form>
  </ng-template>


</nav>
