<div class="responsavelLoop botarBorda"  >

  <div class="row"  [@efeitoEntrada]="orcamentos.length" >
    <div class="col-sm-3" *ngFor="let orcamento of orcamentos"  >

      <div class="card" style="width: 100%;">
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <label>Empresa</label>
              <p>{{ orcamento.empresa | uppercase}}</p>

              <label>contato</label>
              <p>{{ orcamento.contato | uppercase }}</p>

              <label>vistoria</label>
              <p>Sim - {{orcamento.vistoria | uppercase }}</p>

              <label>meio de entrega</label>
              <p>{{orcamento.meioEntrega | uppercase}}</p>
            </div>
            <div class="col-6">
              <label>responsável</label>
              <p>{{ orcamento.responsavel | uppercase }}</p>

              <label>telefone</label>
              <p>{{ orcamento.telefone | uppercase }}</p>

              <label>responsável</label>
              <p>{{ orcamento.responsavelVistoria | uppercase}}</p>
            </div>
          </div>

          <div class="row faixa_meio" [ngStyle]="{'background-color': orcamento.responsavel === null? '#ff1a1a' : '#33ff33'}" style="height: 80px; padding-top: 10px; padding-bottom: 10px;" >
            <div class="col-6">
                <div  class="d-flex justify-content-center">
                    <span class="branco_span">entrega</span>
                </div>
                <div class="d-flex justify-content-center">
                  <h3>{{ orcamento.data }}</h3>
                </div>
            </div>
            <div class="col-6">
              <div  class="d-flex justify-content-center">
                  <span class="branco_span">Hora</span>
              </div>
              <div class="d-flex justify-content-center">
                <h3>{{ orcamento.hora }}</h3>
              </div>
            </div>
          </div>
          <br/>

          <div  class="d-flex justify-content-center">
            <h4>Observação</h4>
          </div>

          <p class="text-justify" style="border: 2px solid #0d0d0d; padding: 10px;">{{ orcamento.observacao }}</p>

          <div  class="d-flex justify-content-center">

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
