<div class="row">
  <div class="col-12">

      <div class="card estilo_capa_login" >
        <div class="card-body">
          <p class="text-center" >
            <img [src]="logo_aqcez" width="130px" height="130px" alt="Login" class="rounded-circle">
          </p>
          <h5 class="card-title">Login:</h5>
          <input class="form-control" id="login" value="" ><br/>
          <h5 class="card-title" >Senha:</h5>
          <input class="form-control" id="senha" value="" ><br/>

          <button type="button" class="btn btn-dark" id="entrar" >Entrar</button>
        </div>
      </div>

  </div>
</div>
